<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>django blog</title>
  </head>
  <body>
      <div>
          <h1><a href="/">django blog</a></h1>
      </div>
      <div>
          <p>published : 2020/5/20</p>
          <h2><a href="">my first post</a></h2>
          <p>ajfdjfd fdajjf ajfajfjda dajffda;jfa</p>
      </div>
      <div>
        <p>published : 2020/5/22</p>
        <h2><a href="">my second post</a></h2>
        <p>ajfdjfd fdajjf ajfajfjda dajffda;jfa</p>
    </div>
  </body>
</html>